body {
	background-color: black;
}
h1 {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: left;
	padding-left:50px;
}
p {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: left;
	padding-left: 50px;
}
.flex-container {
    display: flex;
	padding:30px;
	align-items: flex-start;
}
.flex-container > div {
	display:flex;
	background-color: black;
	color: lime;
	font-family: 'Courier New';
	padding: 10px;
}
#image > script{
	width: 100%;
	height: auto;
}
/*<div img {
	width: 100%; height: auto;
}*/